body{
    margin: 0px;
}
main{
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
.navbar {
    list-style-type: none;
    background-color: rgb(83, 86, 90);
    padding: 10px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(0, 0, 0);
}
.navbar li{
    float: left;
}

.box {
    border: 2px dotted rgb(0, 156, 207);
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
    justify-content: center;
}

.box > * {
    flex: 1;
    text-align: center;
    background-color: rgb(120, 212, 247 / 0.2);
    border: 2px solid rgb(0, 156, 207);
    border-radius: 5px;
    padding; 10px;
}

.one {
    flex: 1;
}

.two {
    flex: 1;
}

.three {
    flex: 1;
}